*{
    width: 100%;
    background-color: white;
    /* background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png"); */
    font-family: sans-serif;
}


/* header{
     position: fixed; 
} */

nav{
    background-position: 0%;
    display: block;
    font-size: 20px;
}

.row{
   text-align: center;
   height: max-content;
}

.href{
    text-decoration: none;
    color: rgb(46, 47, 47);
    padding: 20px;
    font-family: 'Inter';
}

.href:focus{
    background-color:black;
    color: white;
    border-radius: 10px;
}

.kurslar{
    color: black;
    text-align: center;
    font-size: 24px;
    font-family: 'Inter';
}

p{
    color: black;
}

@media screen and (max-width: 720px) {
   img.image{
        margin-block-start: 20px;
    }
}


.image{
    width: 200px;
    padding-inline-end: 20px;
}